<h4> Interpolación</h4>
<ul>
    <li> Nombre: {{nombre}} </li>
    <li>Correo: {{correo}} </li>
    <li> Edad: {{edad}} años </li>
    <li> Fecha: {{fecha}}</li>
    <li>HTML: <span [innerHTML]="html"></span></li>
    <li>Paises: {{paises}} </li>
</ul>
<hr>
<h4>Condiciones</h4>
<p *ngIf="edad>=18; else edadElse" > Es mayor de edad</p>
<ng-template #edadElse>
    <p>No es mayor de edad, es muy joven aún</p>
</ng-template>
<hr>
<h4>Operador ternario</h4>
<p>{{(edad>= 18)?'si':'no'}} </p>
<hr>
<h4>Switch case </h4>
<div [ngSwitch]="numero">
    <p *ngSwitchCase="12">Es 12</p>
    <p *ngSwitchCase="13">Es 13</p>
    <p *ngSwitchCase="14">Es 14</p>
    <p *ngSwitchDefault>No es ninguna</p>

</div>
<hr>
<h4>ng-container</h4>
<ng-container *ngIf="edad>=18">
    Se cumple la condicion
</ng-container>
<hr>
<h4>ngFor </h4>
<ul>
    <li *ngFor="let item of [1,2,3,4,5,6,7,8]; let i = index">
        {{i+1}} - {{item}}
    </li>
   
</ul>
<hr>
<h4>Recorrer arreglos</h4>

<ul>
    <li *ngFor="let pais of paises; let i = index; first as primero">
        {{i+1}} - {{pais.nombre}} ({{pais.dominio}}) <span *ngIf="primero"> Este es el primero</span>
    </li>


</ul>

<hr>
<h4> ngTemplate</h4>
<ul>
    <ng-template ngFor let-pais [ngForOf]="paises" let-i="index">
    
        <li>
            {{i+1}} - {{pais.nombre}} ({{pais.dominio}}) 
        </li>
    
    </ng-template>
</ul>
<hr>
<h4> nodd y even</h4>
<div *ngFor="let pais of paises; let impar = odd; let par = even;"
   [ngClass]="{azul:par,verde:impar}">
    <p>
        {{pais.nombre}}({{pais.dominio}})
        <span *ngIf="impar"> Es impar</span>
        <span *ngIf="par"> Es par</span>
    </p>
</div>
<hr>
<h4>Pipes</h4>
<p >{{texto| uppercase  }}</p>
<p >{{texto| slice:0:100 }}....</p>
<p >{{cantidad | currency:'CO': '$' }}</p>
<P> {{fecha | date:'dd/MM/yyyy'}} </P>
<p>{{fecha | formateaFecha}}</p>
<p> {{cantidad | formateaNumeros}}</p>

